html,
body {
  height: 100%;
  /*background: rgb(167, 169, 253);*/
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.superContainer {
  max-width: 110em;
  margin: auto;
}
